<ul id= "accordion" class="accordion">
    
    <li>
        <div class="link"><i class="fa fa-tag"></i>#markdown<i class="fa fa-chevron-down"></i></div>
        <% @notes = notes(tags: [create_tag("markdown")]) %>
        <%= erb :'notes/index' %>
    </li>

    <% all_notebooks.each_pair do |k, v| %>
    <li>
        <div class="link" id="<%= k %>"><i class="fa fa-book"></i><%= v %><i class="fa fa-chevron-down"></i></div>
        <% @notes = notes(notebook_guid: k) %>
        <%= erb :'notes/index' %>
    </li>
    <% end %>
</ul>