<h1>New note</h1>

<form method="post" action="/notes">
  <div>
    <label>Note title:</label>
    <input type="text" name="title" value="Untitled note">
  </div>
  <div>
    <label>Notebook:</label>
    <select name="notebook_guid">
      <% all_notebooks.each_pair do |k, v| %>
      <option value="<%= k %>"><%= v %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit" >
</form>
