<form class="newnoteform" method="post" action="/notes">
  <div class="modal-body">
    <div>
        <label>Note Title:</label>
        <input class="titlefield" type="text" name="title" value="Untitled note">
    </div>
    <div>
    <label>Notebook:</label>
    <select class="notebook_guid_select" name="notebook_guid">
      <% all_notebooks.each_pair do |k, v| %>
      <option value='<%= k %>'><%= v %></option>
      <% end %>
    </select>
    </div>
  </div>
  <input type="hidden" name="content" value=""></input>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Create note" class="btn btn-primary" />
  </div>
</form>