
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <form class="form-horizontal" role="form">
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-12">
                        <input type="search" class="form-control" id="inputEmail3" placeholder="Search">
                        <span class="fa fa-check form-control-feedback"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-5 col-md-4">
            <ul class="nav nav-left nav-pills">
                <li>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newModal">
                    New
                    </button>
                </li>
                <li>
                    <form id="savenoteform" action= '/notes'>
                        <input type="hidden" name="_method" value="PUT" />
                        <input value="Save" type="submit" class="btn btn-primary btn-md">
                        </input>
                    </form>
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#saveasModal">
                    Save As
                    </button>
                </li>
                <li>
                    <form id="exporthtmlform" action= ''>
                        <input type="hidden" name="_method" value="" />
                        <input value="Export to HTML" type="submit" class="btn btn-primary btn-md">
                        </input>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <%= erb :'/notes/accordion' %>
        </div>
        <div class="col-lg-4 col-md-4">
            <textarea name="" id="editor"># Hello I'm writing Markdown! 
            </textarea>
        </div>
        <div class="col-lg-5 col-md-5">
            <div id="preview"></div>
        </div>  
    </div>
</div>

<div class="modal fade" id="saveasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveasModalLabel">Save New Note</h4>
      </div>
      <%= erb :'notes/new' %>
    </div>
  </div>
</div>


<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newModalLabel">New Note</h4>
      </div>
      <%= erb :'notes/new' %>
    </div>
  </div>
</div>