<head><title>Greentusk: Editor</title></head>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <%= erb :'/notes/accordion' %>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="row" style="background-color: #377106;">
                <div class="col-lg-12 col-md-12" style="padding-left: 12px; border-bottom: 1px solid #CCC;">
                    <h2 id="activenotetitle" style="vertical-align: middle;">Welcome to Greentusk, your Evernote markdown editor!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <textarea name="" id="editor">
## GREENTUSK (version 1.0)

Greentusk is a markdown editor for Evernote users! Using the Evernote API, users can:

+ 1) access their notes,
+ 2) edit them with markdown,
+ 3) live preview the changes in HTML,
+ 4) save their changes,
+ 5) create a new note with their changes and…
+ 6) export their markdown into an HTML file!

###TEAM BREAKDOWN:
This project was created using overall peer coding practices, with each person focusing on assigned features.

+ Matt Foulger
+ Siv Padhy
+ Jessica Elliot
                    </textarea>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div id="preview"></div>
                </div>
            </div>
        </div>
          
    </div>
</div>

<div class="modal fade" id="saveasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveasModalLabel">Save New Note</h4>
      </div>
      <%= erb :'notes/new' %>
    </div>
  </div>
</div>


<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newModalLabel">New Note</h4>
      </div>
      <%= erb :'notes/new' %>
    </div>
  </div>
</div>