<!DOCTYPE html>
<html>
    
    <head>
        <title>Editor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="javascript/jquery-scrollTo.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/editor.css">
        <link rel="stylesheet" href="/stylesheets/accordion.css">
        <script src="//cdn.jsdelivr.net/codemirror/3.14.0/codemirror.js"></script>
        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.2.0/dist/showdown.min.js"></script>
        <script type="text/javascript" src="/javascript/application.js"></script>   
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img height="30" alt="Brand" src="images/greentusk_logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <br>
                            <p>Welcome, <%= en_user.username %>!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <%= yield %>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Greentusk Markdown Editor</h3>
                        <p>Developed by Matt Foulger, Siv Padhy, and Jessica Elliot</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>