
<ul id="note_list">
<% @notes.notes.each do |note| %>
  <li class = "note"><a href="/notes/<%= note.guid %>"><%= note.title %></a></li>
<% end %>
</ul>

<div class="notes_list">
<% @notes.notes.each do |note| %>
<div class = "note"><a href="/notes/<%= note.guid %>"><%= note.title %></a></div>
<% end %>
</div>